### 5) 리스트 자료형

* 리스트 : 시퀀스 자료형. 연속된 데이터를 한 변수에 저장. 정적 타입 지원. 요소들의 데이터 타입 통일하지 않아도 됨.

In [0]:
# 리스트 선언
fruits = ['apple', 'grape', 'banana', 'melon', 'orange']
print(type(fruits))
print(fruits)

# 다른 데이터타입을 갖는 리스트 선언
lst = [1, 'a', True, 3.14]
print(lst)

<class 'list'>
['apple', 'grape', 'banana', 'melon', 'orange']
[1, 'a', True, 3.14]

In [0]:
# 리스트 인덱싱 : 인덱스로 리스트 요소에 접근
print(fruits[0])
print(fruits[1])
print(fruits[2])

# 리스트 슬라이싱
print(fruits[:3])
print(fruits[::2]) # 스텝도 가능함.
print(fruits[::-1])

apple
grape
banana
['apple', 'grape', 'banana']
['apple', 'banana', 'orange']
['orange', 'melon', 'banana', 'grape', 'apple']

#### Range 함수

 연속된 숫자 생성. 이터레이터.

In [0]:
# range 생성
print(range(10))
print([range(10)]) # range 객체 자체가 리스트의 요소.
print(list(range(10))) # range가 만들어내는 객체들이 리스트의 요소.

print(list(range(3, 20))) # 시작, 끝
print(list(range(1, 100, 5))) # 시작, 끝, 간격

range(0, 10)
[range(0, 10)]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

#### 다차원(중첩) 리스트

 리스트의 요소로 리스트가 포함되어 있다. C에서는 2차원 배열.

In [0]:
# 다차원 리스트 선언
myList = [1, 'a', [1, 3, 4], ['pie', ['apple', True]]]
print(myList)

# 다차원 리스트 인덱싱
print(myList[0])
print(myList[1])
print(myList[2])
print(myList[2][2])
print(myList[3])
print(myList[3][0])
print(myList[3][1])
print(myList[3][1][0])

[1, 'a', [1, 3, 4], ['pie', ['apple', True]]]
1
a
[1, 3, 4]
4
['pie', ['apple', True]]
pie
['apple', True]
apple

In [0]:
# 다차원 리스트 요소의 개수
print(myList, len(myList))
print(myList[2], len(myList[2]))
print(myList[3], len(myList[3]))
print(myList[3][1], len(myList[3][1]))

[1, 'a', [1, 3, 4], ['pie', ['apple', True]]] 4
[1, 3, 4] 3
['pie', ['apple', True]] 2
['apple', True] 2

<연습문제 1>

`b = [1, 2, 3, ['a', 'b', 'c', [1.0, 2.0, 3.0]]]`

1. b 리스트에서 ['a', 'b']가 나오도록 인덱싱, 슬라이싱을 활용해 추출하라.
2. [2.0, 3.0]이 나오도록 추출하라.
3. 3.0을 인덱싱을 활용하여 추출하라.

In [0]:
# 풀이
b = [1, 2, 3, ['a', 'b', 'c', [1.0, 2.0, 3.0]]]
print(f"1번 : {b[-1][:2]}")
print(f"2번 : {b[-1][-1][:-1]}")
print(f"3번 : {b[-1][-1][-1]}")

1번 : ['a', 'b']
2번 : [1.0, 2.0]
3번 : 3.0

In [0]:
# 리스트 연산
a = [1, 2, 3]
b = ['a', 'b', 'c']
print(a + b) # 리스트 연결
print(a*2) # 리스트 반복
print(b*3)
print(a*2 + b*3)

[1, 2, 3, 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3]
['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']
[1, 2, 3, 1, 2, 3, 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [0]:
# 리스트 값 수정
a = [1, 2, 3]
a[1] = 100 # 인덱스 사용해 값 변경.
print(a)
del a[1] # 값 삭제
print(a)

[1, 100, 3]
[1, 3]

#### 리스트 함수
* 요소 추가
    - 맨 뒤 위치
        - `append` : 요소를 추가.
        - `extend` : 이터러블 내의 요소들을 추가. **리스트 연산 중 `+`와 같음**. `extend` 적용 후의 과정을 나타내면, `a+=b`와 같음. 이터러블하지 않은 요소를 받을 경우 `TypeError`!!

    - 특정 위치 : `insert`
* 요소 삭제
    - 인덱스 : `pop`
    - 값 : `remove`
* 특정 값의 인덱스 : `index`
* 특정 값의 개수 : `count`
* 정렬(내림차순의 경우 `reverse = True`)
    - `.sort()` : 메서드. 원본 리스트의 순서 자체를 변경.
    - `sorted()` : 정렬된 새로운 리스트 반환. 원본 리스트의 순서는 변경되지 않음.

In [0]:
# append
a = [1, 2, 3]
a.append(4) # 4 추가
print(a)
a.append('Hello World!')
print(a)
a.append([1, 2]) # 리스트 자체가 요소로서 추가.
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 'Hello World!']
[1, 2, 3, 4, 'Hello World!', [1, 2]]

In [0]:
# extend
b = [1, 2, 3]
b.extend([4]) # 4 추가 
print(b)
b.extend(['Hello World!'])
print(b)
b.extend([1, 2]) # 리스트 내 요소들 추가.
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4, 'Hello World!']
[1, 2, 3, 4, 'Hello World!', 1, 2]

In [0]:
# append vs. extend
a = [1, 2, 3]
a.extend([4, 5])
print(a) # [4, 5]의 요소들 4, 5가 각각 하나의 요소로 추가.
print(a[-1] + 3)
a.append([4, 5]) # [4, 5] 자체가 하나의 요소로 추가.
print(a)
print(a[-1] + 3) # 리스트 더하기 연산 불가능.

[1, 2, 3, 4, 5]
8
[1, 2, 3, 4, 5, [4, 5]]

TypeError: can only concatenate list (not "int") to list

In [0]:
# 특정 위치에 요소 삽입
a = [1, 2, 3, 4, 5]
a.insert(1, 'a')
print(a)
a.insert(0, 'Hello World!')
print(a)

[1, 'a', 2, 3, 4, 5]
['Hello World!', 1, 'a', 2, 3, 4, 5]

In [0]:
# 정렬 : sort vs. sorted
a = [1, 3, 5, 2, 10]

b = sorted(a) # 오름차순 정렬
c = sorted(a, reverse=True) # 내림차순 정렬
print(b)
print(c)
print(a) # 원본에 영향 없음.

a.sort() # 오름차순 정렬 메소드
print(a) # 원본에 영향 있음.
a.sort(reverse=True) # 내림차순 정렬 메소드
print(a)

[1, 2, 3, 5, 10]
[10, 5, 3, 2, 1]
[1, 3, 5, 2, 10]
[1, 2, 3, 5, 10]
[10, 5, 3, 2, 1]

In [0]:
# 순서를 반대로
a = [1, 100, 2, 5, 2656, 3311111111]
a.reverse()
print(a)

[3311111111, 2656, 5, 2, 100, 1]

In [0]:
# 값의 위치 찾기
players = ['양현종', '나지완', '임기영', '최형우', '터커', '나지완']
print(players.index('양현종'))
print(players.index('나지완')) # 첫 번째로 만나는 값의 위치 반환
players[players.index('나지완')] = '김기훈' # 값 변경
print(players)

0
1
['양현종', '김기훈', '임기영', '최형우', '터커', '나지완']

In [0]:
# 특정 요소 삭제
hangeul = ['가', '나', '다', '라', '마']
hangeul.remove('다') # del hangeul[hangeul.index('다')]와 동일
print(hangeul)

['가', '나', '라', '마']

In [0]:
# 특정 위치 요소 삭제
a = [1, 2, 3, 4, 5]
print(a.pop()) # 마지막 위치 요소 삭제 후 반환.
print(a)
print(a.pop(2)) # index 2 위치 요소 삭제 후 반환.
print(a)
c = a.pop(1) # 삭제한 요소 c에 할당.
print(c)
print(a)

5
[1, 2, 3, 4]
3
[1, 2, 4]
2
[1, 4]

**티켓 예매 프로세스**

 예매(리스트에 추가) 프로세스, 결제 처리 및 좌석 배정(리스트에서 꺼냄) 프로세스. 아주 간단하게 `pop`은 예약이 되어서 꺼내고 삭제한다고 보면 됨.

In [0]:
# 예매 대기 리스트
ticket_book_wating_list = []
ticket_book_wating_list.append("A")
ticket_book_wating_list.append("B")
print(ticket_book_wating_list)

# 먼저 들어온 값부터 처리
ticket_book_wating_list.pop(0)
print(ticket_book_wating_list)
ticket_book_wating_list.pop(0)
print(ticket_book_wating_list)

['A', 'B']
['B']
[]

In [0]:
# in
a = [1, 2, 3, 'a', 'b']
print(1 in a)
print(4 in a)
print(1 not in a)
print(4 not in a)

True
False
False
True

#### 리스트의 저장 방식

 파이썬에서 리스트를 저장할 때, 리스트의 0번째 인덱스 메모리 주소만을 저장하고, 실제 리스트 요소들은 다른 메모리 부분에 저장한다.
 
 
 
 *사실, 리스트 뿐만 아니라, 연속 자료형은 모두 이런 방식으로 저장한다. int, float, tuple 빼고 이런 식으로 들어 온다. 무슨 값이 들어올지 모르는 가변 자료형이기 때문.*
 
 

* 변수 할당 : `Call by Reference/Address`.

 하나의 리스트를 선언하고, 그 리스트를 다른 변수에 할당하면, 할당받은 변수는 원본 리스트의 0번째 인덱스 메모리 주소를 갖는다. **주소값으로 호출한다**고 이해하자. 이렇게 하면, 둘은 **똑같은 리스트**라는 말이다. 그래서 복사본을 바꾸든, 원본을 바꾸든 값이 모두 바뀌게 된다.
 
 
---

* 리스트를 값을 복사하려면? 

 하나의 리스트를 선언했을 때, 그 리스트의 값이 실제로 저장된 메모리에서, 그 리스트의 값들을 **꺼내서 다른 부분의 메모리에 할당하고, 그 때의 0번째 인덱스 값을 새롭게 저장해야** 된다. 즉, **메모리에서 주소값을 만날 경우, 그 주소값을 타고 들어가 해당 메모리 주소에 저장된 리스트의 값을 가져와야 한다는 의미**이다. 이 경우 복제본과 원본은 다른 객체이므로, 하나의 값을 바꾸더라도 다른 것은 바뀌지 않게 된다. 파이썬에서는 `copy` 함수가 이 일을 수행한다.
 
 
 
 * 다층 리스트를 복사하려면?
 
 다층 리스트는 리스트의 값이 저장되어 있는 메모리 안에, 또 그 안에 들어 있는 리스트의 0번째 메모리 주소 값이 저장되어 있다. 그 안의 리스트 값은 또 다른 메모리 부분 어딘가에 저장되어 있는 것이다. 결국 다층 리스트의 값을 복사하려면, **다층 리스트에서 주소값을 만날 때마다 재귀적으로 리스트를 복사**해야 한다. 파이썬에서는 `copy` 모듈의 `deepcopy` 함수가 이 일을 수행한다.
 
---
 
 * 얕은 복사 vs. 깊은 복사
 
 얕은 복사의 경우, 리스트 자체의 값을 복사하기는 하지만, 이 일을 재귀적으로 수행하지는 않는다. 다차원으로 연속형 자료가 구성되어 있을 경우, 실제 값들을 복사하기 위해 주소값을 타고 재귀적으로 타고 들어가야 한다. 즉, 다층 리스트에서는 **깊은 복사를 수행해야 내부 리스트의 값 모두가 복사**된다.
 
---

  오류를 만나게 될 때가 있다. 함부로 복사하고 값 변경하지 말자. `copy`, `deepcopy` 함수를 사용하자. 상황에 따라서!

In [0]:
# 변수의 저장
a = 10
print(id(a))
a = 5 # a에 새로운 값 할당.
print(a)
print(id(a)) 
# 값은 변하지만, 저장된 메모리 주소는 변하지 않음.
# a로 선언된 객체에 값만 덮어 씌움.

140706760991408
5
140706760991248

In [0]:
# 변수의 경우 복사한 값을 바꿔도 원본은 바뀌지 않음.
a = 5
print(a)
b = a
print(b)
print(b is a)
b = 3
print(b)
print(a) # 원본에 영향 없음.

5
5
True
3
5

In [0]:
# 리스트의 저장
c = [1, 2, 3, 4, 5]
d = c
print(d)
print(c)
print(id(d))
print(id(c))
print(d is c)
d[1] = 100 # 새로 할당한 리스트의 값 변경
print(d)
print(c) # 리스트의 경우 원본도 바뀜.

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1571150211976
1571150211976
True
[1, 100, 3, 4, 5]
[1, 100, 3, 4, 5]

#### 리스트 할당(배정)과 복사
> https://kongdols-room.tistory.com/67

* 리스트 배정.
    - 1) `a = b` : 같은 객체.
    - 2) `a = b[:]` : 다른 객체.
* `.copy()` : 리스트 실제 값들의 얕은 복사.
* `.deepcopy()` : 리스트 실제 값들의 깊은 복사. 다층 리스트의 실제 값 복사 시 활용.

In [0]:
# Call by Reference : 실제 복사가 일어나지 않음. 배정.
a = [1, 2, 3, 4, 5]
b = a
print(b)
print(b is a) # a와 같은 객체
a[0] = 10 
print(b) # a의 요소를 바꿀 때 b의 요소도 함께 변화.
print(a)

[1, 2, 3, 4, 5]
True
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [0]:
# 슬라이싱 이용해서 "배정"
a = [1, 2, 3, 4, 5]
b = a[:] # a와 다른 객체
print(b)
print(b is a) 
a[0] = 10 
print(b) # a의 요소를 바꿀 때 b의 요소도 함께 변화.
print(a)

[1, 2, 3, 4, 5]
False
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [0]:
# [:]를 이용한 다차원 리스트 "배정"
a = [1, 2, [3, 4, 5]]
b = a[:]

# 둘은 같은 객체일까?
print(b is a) # 다른 객체다.
print(id(a), id(b)) # 메모리 주소 다르다.

# 중첩 리스트 외부 요소를 바꿔 보자.
a[0] = 1000
print(a) # 바뀐다.
print(b) # 안 바뀐다.

# 중첩 리스트 내부 요소까지 다 복사되나?
# 둘 다 값이 바뀐다. 내부 값들까지 다 가져온 건 아니라는 의미다.
a[-1][0] = 10
print(a)
print(b)
print(id(a[2]), id(b[2])) # 중첩리스트 내부 요소의 메모리 주소값은 같다.

False
1571150569864 1571150569544
[1000, 2, [3, 4, 5]]
[1, 2, [3, 4, 5]]
[1000, 2, [10, 4, 5]]
[1, 2, [10, 4, 5]]
1571150569608 1571150569608

In [0]:
# 얕은 복사
list1 = [[1, 2, 3], ['a', 'b', 'c']]
list2 = list1.copy()
print(list2)
list2[0][0] = 5
print(list2)
print(list1) # 원본도 바뀐다.

[[1, 2, 3], ['a', 'b', 'c']]
[[5, 2, 3], ['a', 'b', 'c']]
[[5, 2, 3], ['a', 'b', 'c']]

In [0]:
# 깊은 복사

from copy import deepcopy

list1 = [[1, 2, 3], ['a', 'b', 'c']]
list2 = deepcopy(list1)
print(list2)
list2[0][0] = 5
print(list2)
print(list1) # 원본은 안 바뀐다.

[[1, 2, 3], ['a', 'b', 'c']]
[[5, 2, 3], ['a', 'b', 'c']]
[[1, 2, 3], ['a', 'b', 'c']]

### 6) 튜플

 리스트와 비슷하지만, 리스트와 달리 값을 수정할 수 없다.

In [0]:
# 튜플 선언
a = (1, 2, 3)
print(a)

# 값 수정 불가
a[2] = 4

(1, 2, 3)

TypeError: 'tuple' object does not support item assignment

In [0]:
# 길이가 1인 튜플
c = (1) # 정수
print(c, type(c))
c_tuple = (1, )
print(c, type(c_tuple)) # 출력 형식은 정수와 같지만, 튜플.

1 <class 'int'>
1 <class 'tuple'>

In [0]:
# 괄호 없이 튜플 선언 가능
e = 1, 2, 3
print(e, type(e))

(1, 2, 3) <class 'tuple'>

### 7) 세트 자료형

 집합으로, 데이터가 중복되지 않는다. 집합 연산자를 활용할 수 있다.

In [0]:
# 세트 선언
tigers = {'양현종', '김선빈', '나지완', '서재응'}
print(tigers)
print(type(tigers))

# 세트로의 형변환
nums = [1, 2, 3, 4, 5]
num_set = set(nums)
print(num_set)
print(type(num_set))

{'서재응', '나지완', '김선빈', '양현종'}
<class 'set'>
{1, 2, 3, 4, 5}
<class 'set'>

In [0]:
# 중복 제거를 위해 자주 사용
lst = [1, 2, 3, 3, 3, 3, 4, 5, 4, 4, 4, 1, 3, 1]
print(set(lst))

In [0]:
# 집합 연산자
retired = {'이종범', '이승엽', '장성호', '윤석민', '송지만'}
tigers = {'이종범', '양현종', '윤석민', '장성호', '나지완'}
players = {'양현종', '나지완'}
twins = {'채은성', '오지환'}

print(retired | tigers) # 합집합 : union
print(retired & tigers) # 교집합 : intersection
print(retired - tigers) # 차집합 : difference
print(tigers - retired)
print(retired ^ tigers) # 대칭차집합 : symmetric_difference
print(players <= tigers) # 부분집합 여부 : issubset
print(tigers >= players) # 상위집합 여부 : issuperset
print(retired.isdisjoint(tigers)) # 다른 집합 여부 : isdisjoint
# 겹치는 요소 확인 : 완전히 다른 세트인지
print(players.isdisjoint(tigers))
print(twins.isdisjoint(tigers)) # 완전히 달라야 True 반환

{'송지만', '나지완', '윤석민', '장성호', '이종범', '이승엽', '양현종'}
{'이종범', '윤석민', '장성호'}
{'송지만', '이승엽'}
{'나지완', '양현종'}
{'나지완', '송지만', '이승엽', '양현종'}
True
True
False
False
True

In [0]:
# 세트 함수
a = {1, 2, 3}
a.add(4) # 추가
print(a)
a.remove(1) # 삭제
print(a)
a.discard(3) # 삭제
print(a)

{1, 2, 3, 4}
{2, 3, 4}
{2, 4}

### 8) 딕셔너리 자료형

 키와 값의 쌍으로 저장. Key를 사용하여 Value에 접근한다. 키가 있으므로, 인덱스가 없고, 순서도 없다.

* key는 불변 자료형(문자열, 숫자, 튜플 등)이어야 함.
* value는 어떤 데이터 타입도 가능.
* 개발 시 **입력이 들어오지 않을 때**를 대비해 초기값을 설정할 수 있음.

In [0]:
# 딕셔너리 선언
d = {}
print(type(d)) # 중괄호 쓸 때 기본값은 dict

<class 'dict'>

In [0]:
# 딕셔너리 선언
tigers = {
    'pitcher' : ['양현종', '브룩스', '홍건희', '임기영'],
    'infielder' : ['황대인', '박찬호', '김선빈', '나주환'],
    'outfileder' : ['터커', '나지완', '최원준', '김호령'],
    'rank' : {2017 : 1,
             2018 : 5,
             2019 : 7,
             2020 : [7, 6, 4]},
    'owner' : '현대기아차',
    'avg_height' : 182.03,
    'avg_weight' : 80.0,
    'players' : 98
}

print(tigers)
print(type(tigers))
print('')

from pprint import pprint

pprint(tigers) # 딕셔너리 예쁘게 출력

{'pitcher': ['양현종', '브룩스', '홍건희', '임기영'], 'infielder': ['황대인', '박찬호', '김선빈', '나주환'], 'outfileder': ['터커', '나지완', '최원준', '김호령'], 'rank': {2017: 1, 2018: 5, 2019: 7, 2020: [7, 6, 4]}, 'owner': '현대기아차', 'avg_height': 182.03, 'avg_weight': 80.0, 'players': 98}
<class 'dict'>

{'avg_height': 182.03,
 'avg_weight': 80.0,
 'infielder': ['황대인', '박찬호', '김선빈', '나주환'],
 'outfileder': ['터커', '나지완', '최원준', '김호령'],
 'owner': '현대기아차',
 'pitcher': ['양현종', '브룩스', '홍건희', '임기영'],
 'players': 98,
 'rank': {2017: 1, 2018: 5, 2019: 7, 2020: [7, 6, 4]}}

In [0]:
 # 딕셔너리 자료형 접근
print(tigers['pitcher']) # 키로 접근
print(tigers['avg_weight'])
print(tigers['rank'])
print(tigers['rank'][2020]) # 차례로 인덱싱하면 됨.
print(tigers['rank'][2020][1])

['양현종', '브룩스', '홍건희', '임기영']
80.0
{2017: 1, 2018: 5, 2019: 7, 2020: [7, 6, 4]}
[7, 6, 4]
6

In [0]:
# 없는 키에 대해 접근할 경우 KeyError
print(tigers['audience'])

KeyError: 'audience'

In [0]:
# 데이터 추가
tigers['revenue'] = 300000
pprint(tigers)
print("")

# 데이터 수정
tigers['rank'] = [6, 7, 4]
pprint(tigers)

{'avg_height': 182.03,
 'avg_weight': 80.0,
 'infielder': ['황대인', '박찬호', '김선빈', '나주환'],
 'outfileder': ['터커', '나지완', '최원준', '김호령'],
 'owner': '현대기아차',
 'pitcher': ['양현종', '브룩스', '홍건희', '임기영'],
 'players': 98,
 'rank': {2017: 1, 2018: 5, 2019: 7, 2020: [7, 6, 4]},
 'revenue': 300000}

{'avg_height': 182.03,
 'avg_weight': 80.0,
 'infielder': ['황대인', '박찬호', '김선빈', '나주환'],
 'outfileder': ['터커', '나지완', '최원준', '김호령'],
 'owner': '현대기아차',
 'pitcher': ['양현종', '브룩스', '홍건희', '임기영'],
 'players': 98,
 'rank': [6, 7, 4],
 'revenue': 300000}

In [0]:
# 딕셔너리 함수
print(tigers.keys()) # 접근할 수 있는 키들
print(list(tigers.keys()), end='\n\n') # 리스트로의 형변환 가능
print(list(tigers.values()), end='\n\n') # 값들
print(list(tigers.items()), end='\n\n') # 키와 값의 쌍을 튜플 형태로 반환

dict_keys(['pitcher', 'infielder', 'outfileder', 'rank', 'owner', 'avg_height', 'avg_weight', 'players', 'revenue'])
['pitcher', 'infielder', 'outfileder', 'rank', 'owner', 'avg_height', 'avg_weight', 'players', 'revenue']

[['양현종', '브룩스', '홍건희', '임기영'], ['황대인', '박찬호', '김선빈', '나주환'], ['터커', '나지완', '최원준', '김호령'], [6, 7, 4], '현대기아차', 182.03, 80.0, 98, 300000]

[('pitcher', ['양현종', '브룩스', '홍건희', '임기영']), ('infielder', ['황대인', '박찬호', '김선빈', '나주환']), ('outfileder', ['터커', '나지완', '최원준', '김호령']), ('rank', [6, 7, 4]), ('owner', '현대기아차'), ('avg_height', 182.03), ('avg_weight', 80.0), ('players', 98), ('revenue', 300000)]

In [0]:
# get 함수 이용해 값 반환
print(tigers.get('avg_height'))
print(tigers.get('audience')) # None

182.03
None

In [0]:
# 값을 가져오는데, 없을 경우 대비해 초기값 설정.
tigers_audience = tigers.get('audience', 1000000)
print(tigers_audience)

1000000

In [0]:
# in 연산자 : key 기준으로
print('양현종' in tigers) # value 아님.
print('pitcher' in tigers) # key 있음.
print('audience' in tigers) # 디폴트로 가져올 수는 있지만, 키가 생성되는 것은 아님.

False
True
False

In [0]:
# 해당 키에 대한 초기값 설정
tigers.setdefault('audience', 30000)
pprint(tigers) # 'audience' 키에 대해 디폴트값이 설정된 것을 확인할 수 있음.

{'audience': 30000,
 'avg_height': 182.03,
 'avg_weight': 80.0,
 'infielder': ['황대인', '박찬호', '김선빈', '나주환'],
 'outfileder': ['터커', '나지완', '최원준', '김호령'],
 'owner': '현대기아차',
 'pitcher': ['양현종', '브룩스', '홍건희', '임기영'],
 'players': 98,
 'rank': [6, 7, 4],
 'revenue': 300000}

In [0]:
# 같은 키에 대해 값을 업데이트
tigers.update({'pitgher' : '전상현', 'infielder' : '황윤호'})
pprint(tigers)

{'audience': 30000,
 'avg_height': 182.03,
 'avg_weight': 80.0,
 'infielder': '황윤호',
 'outfileder': ['터커', '나지완', '최원준', '김호령'],
 'owner': '현대기아차',
 'pitcher': ['양현종', '브룩스', '홍건희', '임기영'],
 'pitgher': '전상현',
 'players': 98,
 'rank': [6, 7, 4],
 'revenue': 300000}

In [0]:
# 키와 키에 해당하는 값 모두 삭제
tigers.pop('rank')
pprint(tigers)

{'audience': 30000,
 'avg_height': 182.03,
 'avg_weight': 80.0,
 'infielder': '황윤호',
 'outfileder': ['터커', '나지완', '최원준', '김호령'],
 'owner': '현대기아차',
 'pitcher': ['양현종', '브룩스', '홍건희', '임기영'],
 'pitgher': '전상현',
 'players': 98,
 'revenue': 300000}

In [0]:
# 딕셔너리 초기화
tigers.clear()
print(tigers)

{}