# 함수

 (스샷 1)

 특정 기능(들) 혹은 일련의 작업을 반복해서 할 때 사용한다. **재사용성**을 위함이다.

 다음과 같이 함수를 정의한 후, 사용한다.

```
def 함수 이름(인자):
    ...
    (변수)
    (기능)
    ...
    return (반환값)
```

## _1_. 함수 정의

In [3]:
# 두 개의 인자를 받아 더하기를 수행하는 함수 정의
def func(a, b):
    print("두 수를 더합니다.")
    return a+b

# 함수 객체
print(func)

# 함수 실행
func_test = func(1, 2)
print(func_test)

<function func at 0x7f3de0a90ea0>
두 수를 더합니다.
3

* 함수를 정의할 때, 인자, 반환값에 따라 정의하는 방법이 4가지가 있다. 인자가 있거나/없거나, 반환값이 있거나/없거나에 따라 나누어진다.

1.  인자 X, 반환값 X
 
 함수를 실행할 때 인자를 넘기지도 않고, 실행 후에도 반환되는 값이 없다.

In [5]:
def func():
    print("Hello, World!")

# 함수 실행
a = func() # 실행 시 인자를 넘기지 않는다.
print(a) # 반환값은 없다.

Hello, World!
None

 2. 인자 O, 반환값 X
 
 함수를 실행할 때 인자를 넘긴다. 실행 후 반환되는 값은 없다.

In [6]:
def func(name):
    print("Hello %s" %name)

# 함수 실행
b = func("아이시스") # 인자가 있지만,
print(b) # 반환값은 없다.

Hello 아이시스
None

In [8]:
# append 함수의 예

li = [1, 2, 3, 4]
res = li.append(5)
print(res)

None

 3. 인자 X, 반환값 O
 
 함수를 실행할 때 인자를 넘기지도 않는다. 반환값은 있다.

In [11]:
import random

def lotto():
    return [random.randint(1, 45) for _ in range(6)]

# 함수 실행
lotto_nums = lotto()
print(lotto_nums)

[42, 8, 29, 16, 18, 31]

 4. 인자 O, 반환값 O
 
 함수 실행 시 인자를 받아 작동한 뒤, 결과를 반환한다.

In [12]:
def func(a, b):
    print("두 수를 더합니다.")
    return a+b

# 함수 실행
s = func(101, 202)
print(s)

두 수를 더합니다.
303

<연습문제 1>

 사칙연산의 결과를 튜플로 반환하는 함수 만들기.

In [14]:
def calc(a, b):
    return a+b, a-b, a*b, a/b

# 함수 실행
res = calc(3, 10)
print(res)

(13, -7, 30, 0.3)

* 함수의 반환값을 다른 함수의 인자로 사용할 수 있다.

In [16]:
ans = calc(len([1,2,3,4,5,6,7,8,9]), 18)
print(ans)

(27, -9, 162, 0.5)

<연습문제 2>

 해당 값을 모두 찾아 위치를 리턴하는 함수 만들기.

In [17]:
def allindex(lst, x):
    return [idx for idx, val in enumerate(lst) if val == x]

myList = [random.randint(1, 5) for _ in range(10)]
print(myList)
print(allindex(myList, 2))

[1, 1, 4, 3, 5, 1, 5, 3, 2, 4]
[8]

## _2_. 변수

(스샷2), (스샷3)

**[전역변수(global)]**

 함수 **밖**, 전역 이름공간에서 정의된 변수이다. 프로그램 내 어디에서든 사용할 수 있다. *단*, 함수 **안**에서는 전역변수에 새로운 값을 대입할 수 없다. 


**[지역변수(local)]**

 함수 **안**, 지역 이름공간에서 정의된 변수이다. 지역변수는 그 변수가 정의된 함수 안에서만 사용할 수 있다.


* 전역 이름공간에서는 지역 이름공간의 변수를 볼 수 없다.
    - 지역 이름공간에서 정의된 변수는, 지역을 벗어나면 사용할 수 없다. 함수 안의 변수를 전역에서 호출할 경우, 에러가 난다.
* 지역 이름공간에서는 전역변수를 사용할 수 있다.
    - 어떤 함수 안에도 정의되지 않은 변수를 함수 안에서 볼 때는, 전역변수를 사용한다.
    - 전역 이름공간에서 정의된 것은 지역에서 값을 변경해도 바뀌지 않는다.
* 지역 이름공간에서 전역변수를 사용하겠다고 선언할 수 있다.
    - `global (변수명)`과 같이 선언한다.
    - 값을 보는 것 뿐만 아니라, 변경도 가능하다.
    - 권장하지는 않는 방법이다.

In [19]:
# 전역변수
a, b, c = 3, 4, 5 # 전역변수

def func():
    # 지역변수 a, b
    a = 1
    b = 2

    print(a, b, c)
    return

func() # c는 정의되지 않았으므로, 전역변수 사용.


print(a, b) # 전역에서 a, b를 사용하면 a, b는 처음 정의된 값.

1 2 5
3 4

**[예시]**

* `func_2` 실행 : `func_1` 호출
* `func_1` 실행
    - `a`, `b` 출력 : 지역변수
    - `c` : 지역에 없으므로, 전역으로 올라가 출력.
* `func_2` 복귀 후 `a`, `b` 출력 : 지역변수.
* 전역변수 a, b, c 출력.

In [20]:
# 전역변수
a, b, c = 3, 4, 5 

def func_1():
    # 지역변수 a, b
    a, b = 1, 2
    print(a, b, c)
    return

def func_2():
    a, b = 5, 6
    func_1() # func_1 호출
    print(a, b)
    return

# func_2 실행 : func_1func_2 내의 지역변수 a, b가 출력.
func_2()

# 전역변수 a, b 출력
print(a, b)

1 2 5
5 6
3 4

### 변수의 유효 범위

In [22]:
a = 5 # 전역변수

def func1():
    a = 1
    print("func1의 지역변수 사용", a) 

func1() # 출력값 1
print("전역", a) # 출력값 5

def func2():
    print("func2에서 전역변수 사용", a) 

func2() # 출력값 5

def func3():
    global a
    print("전역변수 사용 선언 후", a)
    a = 3
    print("전역변수 변경 후", a)

func3() # 출력값 5, 3
print("전역", a) # 출력값 3 : 함수 내에서 전역변수가 변경됨.

func1의 지역변수 사용 1
전역 5
func2에서 전역변수 사용 5
전역변수 사용 선언 후 5
전역변수 변경 후 3
전역 3

**[참고]** `*`를 이용한 언패킹

컨테이너 타입의 데이터를 Unpacking 할 때 asterisk를 사용한다.

In [25]:
# 사용 예
print(*[0, 1, 2, 3, 4, 5])

0 1 2 3 4 5

In [26]:
def func(a, b, c):
    return a+b+c

# 언패킹
lst = list(range(4, 7))
func(*lst)

15

## _3_. 인자

### 가변 인자

 함수를 정의할 때, 인자의 길이를 제한하지 않는다. 정해지지 않은 길이의 인자들을 튜플로 받는다. 이후 언패킹을 통해 인자들을 함수에 넘긴다.

In [28]:
def func2(*args):
    print(type(args)) # args의 데이터 타입 확인
    print("args 확인")

    for arg in args:
        print(arg)
    
    return sum(args)

func2(1, 2, 3, 4)
print("=" * 10)
func2(6, 7, 8, 9, 10, 11, 12, 13) # 인자의 길이가 변해도 상관 없다.

<class 'tuple'>
args 확인
1
2
3
4
==========
<class 'tuple'>
args 확인
6
7
8
9
10
11
12
13

76

In [29]:
def func3(*args):
    print(f"args : {args}")
    print(f"args의 길이 : {len(args)}")

# unpacking하지 않으면
func3([1, 2, 3])

# unpacking하면
func3(*[1, 2, 3])

args : ([1, 2, 3],)
args의 길이 : 1
args : (1, 2, 3)
args의 길이 : 3

고정 길이 인자와 가변 길이 인자를 함께 사용할 수 있다.

In [32]:
def calc(oper, *args):
    if oper == '+':
        return sum(args)
    elif oper == 'max':
        return max(args)

print(calc('+', 1, 2, 3, 4, 5))
print(calc('max', [19, 1, 6, 88, 732, 6]))

15
[19, 1, 6, 88, 732, 6]

### 키워드 인자

 딕셔너리 언패킹을 이용해 키워드 인자를 전달할 수 있다. 인자의 순서에 영향을 받지 않으며, **key, value**를 이용해 값을 전달할 수 있다.

In [37]:
def func4(name, email, phone, address):
    print("이름: ", name)
    print("이메일: ", email)
    print("전화번호: ", phone)
    print("주소: ", address)
    return {'name' : name, 'email' : email, 'phoneNumber' : phone, 'address' : address}

# 인자 전달 순서를 맞춰야 하면,
print(func4("이레이저", 'sir950123@gmail.com', '010-4743-6879', '영종도'))

# 인자 전달 순서를 맞추지 않고, key로 전달.
print(func4(address='영종도',
            phone='010-4743-6879',
            email='sir950123@gmail.com',
            name='이레이저'))

이름:  이레이저
이메일:  sir950123@gmail.com
전화번호:  010-4743-6879
주소:  영종도
{'name': '이레이저', 'email': 'sir950123@gmail.com', 'phoneNumber': '010-4743-6879', 'address': '영종도'}
이름:  이레이저
이메일:  sir950123@gmail.com
전화번호:  010-4743-6879
주소:  영종도
{'name': '이레이저', 'email': 'sir950123@gmail.com', 'phoneNumber': '010-4743-6879', 'address': '영종도'}

 키워드 인자와 위치 인자를 함께 사용할 수 있다. 다만, 키워드 인자는 위치 인자보다 항상 뒤에 나와야 한다.

In [38]:
# 에러 확인
func4(email="sir950123@gmail.com", '이레이저')

SyntaxError: ignored

In [48]:
# 오류 수정
print(func4('이레이저', phone='010-4743-6879', address='영종도', email='sir950123@gmail.com'))

이름:  이레이저
이메일:  sir950123@gmail.com
전화번호:  010-4743-6879
주소:  영종도
{'name': '이레이저', 'email': 'sir950123@gmail.com', 'phoneNumber': '010-4743-6879', 'address': '영종도'}

 딕셔너리 언패킹 형태로 키워드 인자를 전달할 수 있다. 키 값의 데이터와 전달된 밸류 값의 데이터를 매핑한다.

In [44]:
my_profile = {'name' : '이레이저', 'phone' : '010-4743-6879', 'address' : '영종도', 'email' : 'sir950123@gmail.com'}

def profile(name, email, phone, address):
    return {'name' : name, 'email' : email, 'phoneNumber' : phone, 'address' : address}

profile(**my_profile)

# 다른 인자 넣어도 되지만, 함수 내에 처리 안 되어 있다.

{'address': '영종도',
 'email': 'sir950123@gmail.com',
 'name': '이레이저',
 'phoneNumber': '010-4743-6879'}

가변 키워드 인자를 이용할 수 있다.

In [46]:
def func5(**kwargs):
    print(type(kwargs))
    print("kwargs 확인")

    print("이름: ",kwargs['name'])
    print("이메일: ", kwargs['email'])
    print("전화번호: ", kwargs['phone'])
    print("주소: ", kwargs['address'])
    return

# 키워드 언패킹을 이용한 가변인자 전달
func5(**my_profile)

<class 'dict'>
kwargs 확인
이름:  이레이저
이메일:  sir950123@gmail.com
전화번호:  010-4743-6879
주소:  영종도

In [51]:
# 다른 인자 넣어도 되지만, 함수 내에 처리 안 되어 있다.
func5(name='이레이저', phone='010-4743-6879', address='영종도', email='sir950123@gmail.com', fruit='strawberry')

<class 'dict'>
kwargs 확인
이름:  이레이저
이메일:  sir950123@gmail.com
전화번호:  010-4743-6879
주소:  영종도

 인자가 입력되지 않을 경우를 대비해 기본값을 지정할 수 있다.

In [52]:
def func6(**kwargs):
    print(type(kwargs))
    print("kwargs 확인")

    print("이름: ", kwargs.get('name', '이름이 입력되지 않았습니다.'))
    print("이메일: ", kwargs.get('email', '이메일이 입력되지 않았습니다.'))
    print("전화번호: ", kwargs.get('phone', '전화번호가 입력되지 않았습니다.'))
    print("주소: ", kwargs.get('address', '주소가 입력되지 않았습니다.'))
    return

func6()

<class 'dict'>
kwargs 확인
이름:  이름이 입력되지 않았습니다.
이메일:  이메일이 입력되지 않았습니다.
전화번호:  전화번호가 입력되지 않았습니다.
주소:  주소가 입력되지 않았습니다.

## _4_. 매개변수 초기값

 함수에 초기값을 설정할 수 있다.

In [54]:
# print 함수 예시 : end 옵션 기본값 '\n'
print("안녕하세요.")
print("반갑습니다.")

# end 옵션 재정의
print("안녕하세요?", end=' ')
print("반갑습니다!")

안녕하세요.
반갑습니다.
안녕하세요? 반갑습니다!

In [56]:
# 기본값을 사용한 함수 정의
def func7(name, email, age=30, address='대한민국'):
    print("이름: ", name)
    print("이메일: ", email)
    print("나이: ", age)
    print("주소: ", address)
    return

func7('루비', 'ruby@gmail.com', age=7, address='인천')
print("-----------")
func7('이레이저', 'sir950123@gmail.com') # 초기값으로 설정된 나이, 주소 출력.

이름:  루비
이메일:  ruby@gmail.com
나이:  7
주소:  인천
-----------
이름:  이레이저
이메일:  sir950123@gmail.com
나이:  30
주소:  대한민국

 초기값은 반드시 뒤(오른쪽)에서부터 설정한다. 컴퓨터가 인자를 어디에 할당해야 할지 헷갈려 한다.

In [57]:
# 오류 확인
def func7(name='루비', email, age, address='대한민국'):
    print("이름: ", name)
    print("이메일: ", email)
    print("나이: ", age)
    print("주소: ", address)
    return

SyntaxError: ignored

# 모두 다 이용해 보자!

 대부분의 패키지, 모듈에 있는 함수가 이런 식으로 함수 기능을 다 사용해서 설계된다.

In [0]:
def test_func(name, email, addr=None, age=20, *args, **kwargs):
    print(f"이름 : {name}")
    print(f"이메일 : {email}")
    print(f"나이 : {age}")

    if addr is None: # 입력되지 않은 경우
        addr = '대한민국'
    print(f'주소 : {addr}')

    print('-' * 10, 'args 시작')
    for arg in args:
        print(arg)
    
    print('-' * 10, 'kwargs 시작')
    for k in kwargs:
        print(f"{k} : {kwargs[k]}")

In [75]:
test_func('이레이저',
            'sir950123@gmail.com',
            '영종도',
            27,
            1, 2, 3,
            is_Korean=True, birth='0123', favorite_baseball='KiaTigers')

이름 : 이레이저
이메일 : sir950123@gmail.com
나이 : 27
주소 : 영종도
---------- args 시작
1
2
3
---------- kwargs 시작
is_Korean : True
birth : 0123
favorite_baseball : KiaTigers

In [76]:
# kargs 없이 전달

test_func('이레이저',
            'sir950123@gmail.com',
            '영종도', # 주소
            is_Korean=True, birth='0123', favorite_baseball='KiaTigers')

이름 : 이레이저
이메일 : sir950123@gmail.com
나이 : 20
주소 : 영종도
---------- args 시작
---------- kwargs 시작
is_Korean : True
birth : 0123
favorite_baseball : KiaTigers

위치 인자는 반드시 순서 맞춰서 전달해야 한다.

In [68]:
# kargs 없이 전달

print(test_func('이레이저',
                'sir950123@gmail.com',
                27, # 주소로 들어감.
                is_Korean=True, birth='0123', favorite_baseball='KiaTigers'
                ))

이름 : 이레이저
이메일 : sir950123@gmail.com
나이 : 20
주소 : 27
---------- args 시작
---------- kwargs 시작
k : True
k : 0123
k : KiaTigers
None