# 제목 1.

## 제목 2.

Type *Markdown* and LaTex: $\alpha^2$

# 0. Jupyter Notebook 사용법

* `ln()` : 실행 순서.
    - line number. 파이썬 코드가 실행된 순서. 셀의 순서가 아니라 실행 순서에 따라 파이썬 코드가 인식.
    - `*` : line number가 안 찍히고 계속 실행 중. `Interrupt`로 멈춰야 함. 그래도 안 멈추면 `Restart Kernel`.
        - `input()` 중복 실행.
        - 무한 루프.
 
* 실행
    - `shift + enter` : 실행 후 셀이 넘어 감.
    - `ctrl + enter` : 실행 후 셀이 멈춰 있음.
 
* 셀
    - `a` : 위에 셀 추가. `b` : 아래 셀 추가.
    - `dd` : 삭제.
    - `z` : 실행 취소.
    - `m` : 마크다운으로 변경.
 
* 주석 처리
    - `#` : 한 줄 주석.
    - `'''` : 여러 줄 주석.
* 출력하지 않더라도 마지막은 항상 출력(exho).

# 1. Python 기초

* `input()` : 값을 입력받아 변수에 저장. 입력받는 값은 문자열.

In [4]:
# 숫자 입력받은 후 출력.
a = input("입력 숫자: ") # 입력
print(a) # 출력

입력 숫자: 666
666

## 변수

In [5]:
# 변수 선언
X = 10

In [6]:
# 변수 변경
X = 5
X

5

In [7]:
# 한 번에 여러 변수 선언
x, y, z = 1, 2, 3

In [8]:
x

1

In [9]:
y

2

In [10]:
z

3

## 자료형

파이썬이 제공하는 기본(원시) 자료형은 8가지가 있다. 자료형을 조합하거나, 새로운 자료형을 만들 수 있다.

* `int`
* `float`
* `bool`
* `str`
* `list`
* `tuple`
* `set`
* `dict`

### 1) 숫자 자료형

In [11]:
# int
print(3)
print(type(3))

3
<class 'int'>

In [12]:
# float
print(3.0)
print(type(3.0))

3.0
<class 'float'>

In [2]:
# 정수의 연산
a, b = 6, 3
print(a + b)
print(a - b)
print(a * b)
print(a / b) # 나누기: 실수.
print(a**b) # power
print(a//b) # 몫 연산 : 실수 부분 버림.
print(a % b) # 나머지(modula) 연산.

9
3
18
2.0
216
2
0

In [4]:
# 실수의 연산
c = 10.0
d = 4.0
print(c + d)
print(c - d)
print(c * d)
print(c / d) # 나누기: 실수
print(c**d) # power
print(c//d)
print(c % d)

14.0
6.0
40.0
2.5
10000.0
2.0
2.0

#### Cast : 형변환(Type Change)

* 묵시적 형변환 : `int`, `float` 간의 연산 과정에서처럼 컴퓨터가 내부적으로 변환.
* 명시적 형변환 : 자료형을 명시적으로 언급해서 변환. 자료형과 자료형 변환 함수는 동일하다.

<연습문제 1>

a=7, b=3.0으로 초기화한 후, a를 b로 나누었을 때 몫과 나머지를 각각 c와 d라는 변수에 초기화한 후 출력하라.
그리고 e라는 변수에 a의 b제곱을 초기화하고 출력하라.

In [9]:
# 정수와 실수의 연산
a, b = 7, 3.0
c, d = a//b, a%b
print(c) # a : 묵시적 형변환
print(d)
e = a**b
print(e)

2.0
1.0
343.0

#### Cast : 형변환(Type Change)

* 묵시적 형변환 : `int`, `float` 간의 연산 과정에서처럼 컴퓨터가 내부적으로 변환.
* 명시적 형변환 : 자료형을 명시적으로 언급해서 변환.

<연습문제 2>

변수를 학생의 이름으로 하여 반 평균을 정수로 출력하라.

| Name | Score |
| --- | --- |
| Mike | 80 | 
| Judy | 75 |
| Sera | 100 |

In [19]:
mike, judy, sera = 80, 75, 100
avg = (mike + judy + sera) / 3
print(int(avg)) # 명시적 형변환

85

### 2) boolean 자료형(True & False)
* 논리 자료형. 숫자에서는 0만 `False`.
* boolean의 형변환 : 값이 있으면 `True`, 없으면 `False`.
* 비교연산 : `>`, `>=`, `<`, `<=`, `==`, `!=`. 연산 결과 `boolean`.
* 논리연산 : `and`, `or`, `not`.

In [28]:
# bool 자료형 
a = True
b = False
print(a)
print(type(a))
print(a and b) # and 연산
print(a or b) # or 연산
print(not a) # not 연산

True
<class 'bool'>
False
False
True
True
False

In [17]:
255/3

85.0

In [22]:
# 숫자의 bool 자료형으로의 변환
print(bool(1))
print(bool(0))
print(bool(500))
print(bool(1000.0))

True
False
True
True

In [30]:
# boolean의 형 변환
print(bool(0)) # 값이 없다.
print(bool(-10)) # 값이 있다.
print(bool("")) # 문자열이 없다.
print(bool("hello world")) # 문자열이 있다.
print(bool([])) # 리스트가 비어 있다.
print(bool([1, 2, 3])) # 리스트가 있다.

False
True
False
True
False
True

In [29]:
# 비교연산
print(1 == 1) # 같나요?
print(1 != 1) # 다른가요?
print(2 > 1) # 큰가요?

True
False
True

<연습문제 3>

사용자로부터 점수를 3개 입력받아 모든 점수가 65점보다 클 경우 True, 아니면 False를 출력하세요.

In [41]:
a, b, c = map(int, input("숫자 입력 : ").split())
print(a > 65 and b > 65 and c > 65)

숫자 입력 : 77 66 88
True

In [38]:
# 기본 내용으로만 해결
a = input("점수 입력 1: ")
b = input("점수 입력 2: ")
c = input("점수 입력 3: ")

점수 입력 1: 70
점수 입력 2: 60
점수 입력 3: 90

In [39]:
print(int(a)>65 and int(b)>65 and int(c)>65)

False

#### None : 비어있는 변수

타입이 없는 게 타입이다.

In [43]:
# None 자료형
print(None)
print(type(None))

None
<class 'NoneType'>

In [44]:
# None 자료형의 bool 변환
print(bool(None))

False

In [45]:
# None 자료형의 int 변환 : 불가능.
print(int(None))

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

### 3) 문자열 자료형(str)

In [46]:
# 문자열 선언 : 큰따옴표, 작은따옴표 동일.
quote = "Hello, World" # 한 줄로 선언.
print(quote)
introduce = """나는 생각한다.
고로 존재한다.
- 데카르트""" # 여러 줄 선언 : 개행 가능.
print(introduce)

Hello, World
나는 생각한다.
고로 존재한다.
-데카르트

In [50]:
saying = '''나는 생각한다.
고로 존재한다.
- 데카르트'''
print(saying)

나는 생각한다.
고로 존재한다.
- 데카르트

In [48]:
# 문자열 안에 따옴표 사용
name = "내 이름은 '홍길동'입니다."
print(name)
your_name = '너의 이름은 "무엇"인가요?'
print(your_name)

내 이름은 '홍길동'입니다.
너의 이름은 "무엇"인가요?

In [53]:
# 문자열 연산
str1 = '사과'
str2 = '배'
print(str1 + str2) # 문자열 덧셈 : 문자열 연결.
print(str1*3) # 문자열 곱셈 : 문자열 반복.
print(str1*3 + str2*3)
print((str1 + str2)*3)

사과배
사과사과사과
사과사과사과배배배
사과배사과배사과배

#### 이스케이프 코드

특별한 문자를 표현하기 위해 백슬래시(`\`)와 함께 표현하는 문자.

* `\` : 다음 나오는 문자를 문자로 취급.
* `\n` : 개행.
* `\t` : 탭.
* `\\` : 역슬래시.

In [55]:
myName = "안녕하세요. 제 이름은 \"홍길동\"입니다."
print(myName)

안녕하세요. 제 이름은 "홍길동"입니다.

In [56]:
myName = "안녕하세요. 제 이름은 \n홍길동\n입니다."
print(myName)

안녕하세요. 제 이름은
홍길동
입니다.

In [57]:
myName = "안녕하세요. 제 이름은 \t홍길동\t입니다."
print(myName)

안녕하세요. 제 이름은 	홍길동	입니다.

In [68]:
myName = "안녕하세요. 제 이름은 \\홍길동\\입니다."
print(myName)

안녕하세요. 제 이름은 \홍길동\입니다.

#### 인덱싱 및 슬라이싱
 문자열의 순서를 기반으로 문자열을 찾거나(인덱싱), 자름(슬라이싱). 첫 문자의 인덱스가 **0부터 시작**함에 주의한다.
* step이 `-1`이면 마지막부터 거꾸로 1칸씩 간다. 비슷하게 `-2`라면 마지막부터 거꾸로 2칸씩 간다.

In [67]:
# 문자열 인덱싱
str1 = "He is a boy. I am a girl."

print(str1[0]) # 첫 번째 인덱스.
print(str1[4])
print(str1[-1]) # 마지막.
print(str1[-2]) # 마지막에서 두 번째.
print(str1[3:20:2]) # 3번째부터 10번째 미만, 2개씩 건너 뛰면서.

H
s
.
l
i  o.Ia

In [72]:
# 문자열 슬라이싱
str2 = "혁신성장. 오늘 개강했습니다! 열심히 살자!"

print(str2[3:6]) # 3번째 이상 6번째 미만.
print(str2[3:6:1]) # 간격 default : 1.
print(str2[3:]) # 3번째부터 마지막까지.
print(str2[:6]) # 처음부터 6번째 미만.
print(str2[3:-1:3]) # 3번째부터 마지막까지 3개씩 건너뛰면서.
print(str2[3::3]) # 위와 동일.
print(str2[::2]) # 2 간격으로 모두 다 인덱싱.
print(str2[::-1]) # 처음부터 끝까지 거꾸로 인덱싱.
print(str2[::-2]) # 끝에서부터 2칸씩(거꾸로) 이동하며 인덱싱.

장.
장.
장. 오늘 개강했습니다! 열심히 살자!
혁신성장.
장오개습!심살
장오개습!심살
혁성.오 강습다 심 자
!자살 히심열 !다니습했강개 늘오 .장성신혁
!살히열!니했개늘 장신

#### 문자열 포맷팅
1) 서식지정자(`%`)
   * `%s`
        - `%(공백level)s` : 공백 추가.
        - `%s %s` : 여러 개의 추가 문자.
   * `%d`
   * `%f` : 실수
        - `%.(숫자)f` : 소수점 이하 자리수 지정.
        
2) format 함수 : `.format()`
   * {0:(숫자)<(숫자))} : 공백 추가

3) f-string : `f"{변수} {변수}"`. 3.6 버전 이상에서만 가능.

In [76]:
# 문자열 서식지정자
notice = "%s 학부모님 안녕하세요?"
name = '홍길동'
age = 12

print(notice)
print(notice % name) # 서식문자 자리에 변수가 할당된다.
print(type(age), notice % age, type(notice % age)) # 서식문자 자동 형변환.

%s 학부모님 안녕하세요?
홍길동 학부모님 안녕하세요?
<class 'int'> 12 학부모님 안녕하세요? <class 'str'>

In [107]:
# 문자열 서식지정자 공백 추가
notice_with_space_left = "안녕하세요, %10s 학부모님?" # 공백 10, 왼쪽에 둔다. 문자 오른쪽 정렬.
notice_with_space_right = "안녕하세요, %-10s 학부모님?" # 공백이 오른쪽에 들어간다. 문자 왼쪽 정렬.
name = "홍길동"
print(notice_with_space_left % name)
print(notice_with_space_right % name)

안녕하세요,        홍길동 학부모님?
안녕하세요, 홍길동        학부모님?

In [108]:
# 기타 서식지정자
score = "점수는 %d점입니다."
num = 85

print(score % num)
print(type(name), score % num) # 서식문자 내 자동 형변환
print("안녕하세요. 저는 %d점입니다." % 30) # 정수
print("안녕하세요. 저는 %f점입니다." % 30) # 실수 : 소수점 표시 제한 없음.
print("안녕하세요. 저는 %.3f점입니다." % 30) # 실수 : 소수점 아래 3자리까지만 표시.

점수는 85점입니다.
<class 'str'> 점수는 85점입니다.
안녕하세요. 저는 30점입니다.
안녕하세요. 저는 30.000000점입니다.
안녕하세요. 저는 30.000점입니다.

In [84]:
# format 함수 : 중괄호 내의 값을 대체함.
introduce = "안녕하세요. {}입니다.".format("홍길동")
print(introduce)
print("{} 학생의 점수는 {}점입니다.".format("홍길동", 80)) # 여러 개 포맷팅.

안녕하세요. 홍길동입니다.
홍길동 학생의 점수는 80점입니다.

In [88]:
# format 함수 : 변수로 포맷팅.
name = "양현종"
job = "left-hand pitcher"
era = 3.00
print("{} 선수의 보직은 {}이고, 기록은 {}입니다.".format(name, job, era))
print("{name} 선수의 보직은 {job}이고, 기록은 {num}입니다.".format(name=name, job=job, num=era)) # 변수 이름에 할당.

양현종 선수의 보직은 left-hand pitcher이고, 기록은 3.0입니다.
양현종 선수의 보직은 left-hand pitcher이고, 기록은 3.0입니다.

In [86]:
# format 함수 : 순서대로 매칭.
name = "황대인"
job = "infielder"
print("{0} 선수의 보직은 {1}입니다.".format(name, job))
print("{1} 선수의 보직은 {0}입니다.".format(job, name)) # 순서에 주의

황대인 선수의 보직은 infielder입니다.
황대인 선수의 보직은 infielder입니다.

In [130]:
# f-string
name = "전상현"
job = "right-hand pitcher"
print(f"{name} 선수의 보직은 {job}입니다.")

전상현 선수의 보직은 right-hand pitcher입니다.

<연습문제 4>

a="20190505chicken19000"는 잘못 쓰여진 변수이다. 2019는 year이라는 변수에, 0505는 day라는 변수에, chicken은 menu라는 변수에, 19000을 money라는 변수에 **인덱싱**을 사용하여 각각 저장하고, 출력하시오.

In [95]:
a = "20190505chicken19000"
year, day, menu, money = a[:4], a[4:8], a[8:15], a[15:]
print(year)
print(day)
print(menu)
print(money)

2019
0505
chicken
19000

<연습문제 5>

a="90:30:80"이고, `:`를 기준으로 각각 수학점수, 영어점수, 과학점수이다. **문자열 인덱싱**을 이용해 각 점수를 각각 math, english, science 변수에 저장하고, average란 변수에 평균값을 저장하고 출력하시오. 이 때, 출력의 형태는 "평균 점수는 ~~입니다."로 하시오.

In [113]:
a = "90:30:80"
math, english, science = a[:2], a[3:5], a[6:]
# math, english, science = map(int, (a[:2], a[3:5], a[6:]))
average = (int(math) + int(english) + int(science)) / 3
print("평균 점수는 %f입니다." % average)
print("평균 점수는 %d입니다." % average) # 참고 : 암묵적 형 변환.

평균 점수는 66.666667입니다.
평균 점수는 66입니다.

In [133]:
# 문자열 함수
baseball = "  어제 kia TIGers 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. a      "

print(len(baseball)) # 문자열 길이
print(baseball.index("이")) # 찾으려는 문자열의 첫 번째 위치.
print(baseball.count("a")) # 문자열 내 찾으려는 문자의 개수 반환.
print(baseball.upper()) # 문자열 내 영문자를 대문자로 바꾼다.
print(baseball.lower()) # 소문자.

# replace
print(baseball.replace("a", "흑 ㅜ")) # 문자열 바꾸기
print(baseball.replace("그러나", "하지만"))

# strip
print(baseball.lstrip()) # 왼쪽 공백 제거
print(baseball.rstrip()) # 오른쪽 공백 제거
print(baseball.strip()) # 양쪽 공백 제거

# split
print(baseball.split()) # 문자열 분리 : default 공백. 리스트 반환.
print(baseball.split("선발")) # 문자열 분리 : 기준 문자.

# join : 리스트 내 문자열들을 기준 문자를 넣어 합친다.
print("".join(baseball.split()))
print(" ".join(baseball.split()))
print("/".join(baseball.split()))

56
22
2
  어제 KIA TIGERS 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. A
  어제 kia tigers 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. a
  어제 ki흑 ㅜ TIGers 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. 흑 ㅜ
  어제 kia TIGers 선발 투수 이민우 선수가 호투했다. 하지만 팀은 패배했다. a
어제 kia TIGers 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. a
  어제 kia TIGers 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. a
어제 kia TIGers 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. a
['어제', 'kia', 'TIGers', '선발', '투수', '이민우', '선수가', '호투했다.', '그러나', '팀은', '패배했다.', 'a']
['  어제 kia TIGers ', ' 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. a      ']
어제kiaTIGers선발투수이민우선수가호투했다.그러나팀은패배했다.a
어제 kia TIGers 선발 투수 이민우 선수가 호투했다. 그러나 팀은 패배했다. a
어제/kia/TIGers/선발/투수/이민우/선수가/호투했다./그러나/팀은/패배했다./a

<연습문제 6>

a=" 90:30:80  "이고, `:`을 기준으로 각각 수학점수, 영어점수, 과학점수이다. 문자열 함수를 이용해 공백을 제거하고, 각 점수를 math, english, science 변수에 저장한 후, average란 평균값에 저장하고 출력하시오. 이 때, 출력의 형태는 "평균 점수는 ~~입니다."로 하시오.

In [137]:
a=" 90:30:80  "
math, english, science = a.strip().split(":")
average = (int(math) + int(english) + int(science)) / 3
# math, english, science = map(int, a.strip().split(":"))
# average = (math + english +science) / 3
print("평균 점수는 {}입니다.".format(average))
print("평균 점수는 %.2f입니다." % average) # 소수점 아래 2자리까지.

평균 점수는 66.66666666666667입니다.
평균 점수는 66.67입니다.